{% extends "transactional_base.html" %}
{% import 'button.html' as button %}

{% block subject %}
{% if create_account %}Activez votre compte Mobilic{% else %}Confirmez l'adresse email de votre compte Mobilic{% endif %}
{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    {% if create_account %}
        <p>Vous venez de créer un compte {% if company_name %}rattaché à l'entreprise <strong>{{company_name | upper}}</strong> {% endif %}sur <span style="font-weight: bold;">Mobilic</span>, la plateforme gouvernementale qui permet <strong>l'enregistrement et le suivi du temps de travail</strong> des travailleurs mobiles du transport routier léger et du déménagement.</p>
        <p>Activez votre compte en cliquant sur le bouton ci-dessous et accédez à la saisie de votre temps de travail :</p>

        {{button.button('Activer mon compte', activation_link)}}

        {% if not company_name %}
            {% if is_employee %}
            <p>
                Vous êtes <strong>travailleur mobile</strong> ? Transmettez ensuite votre identifiant Mobilic (<strong>{{user_id}}</strong>) à la personne responsable de votre entreprise pour finaliser votre rattachement avant de commencer à saisir votre temps de travail.
            </p>
            {% endif %}
        {% else %}
            {% if has_admin_rights %}
                <p>
                    Une fois votre compte activé, vous aurez les droits d’administration sur l’entreprise <strong>{{company_name | upper}}</strong> et pourrez alors :
                </p>
                <ul>
                    <li>consulter le temps de travail des salariés</li>
                    <li>gérer les invitations des nouveaux salariés</li>
                    <li>gérer la flotte de véhicules</li>
                </ul>
            {% endif %}
        {% endif %}
        <p>
            <strong>
                Comment télécharger l’application Mobilic sur votre téléphone ?
            </strong>
        </p>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="50%" style="padding-right: 8px; text-align: center; vertical-align: top;">
                    <p>Vous avez un téléphone<strong> android ?</strong></p>
                    <img src="https://cdn.githubraw.com/MTES-MCT/mobilic-api/217dc5bb/app/static/images/create_account_tuto_android.gif" alt="Tutoriel installation Android"
                        style="max-width: 100%;">
                </td>
                <td width="50%" style="padding-left: 8px; text-align: center; vertical-align: top;">
                    <p>Vous avez un <strong>iPhone ?</strong></p>
                    <img src="https://cdn.githubraw.com/MTES-MCT/mobilic-api/217dc5bb/app/static/images/create_account_tuto_ios.gif" alt="Tutoriel installation iPhone"
                        style="max-width: 100%;">
                </td>
            </tr>
        </table>
    {% else %}
        <p>Pour confirmer votre changement d'adresse email veuillez cliquer sur le <a href={{activation_link}} target="_blank" rel="noopener noreferrer">lien suivant</a></p>
    {% endif %}
    <p>&nbsp;</p>
    <p>Cordialement,</p>
{% endblock %}
