{% extends "transactional_base.html" %}
{% import 'button.html' as button %}

{% block subject %}
{{ subject }}
{% endblock %}

{% block body %}
    <p>Bonjour {{first_name | capitalize}},</p>
    <p>Vous avez récemment réalisé {{nb_max_tries}} tentatives infructueuses de connexion à votre compte Mobilic. Pour des raisons de sécurité, votre compte est désormais bloqué.</p>
    <p>Afin de le débloquer, il est nécessaire de réinitialiser votre mot de passe.</p>
    {{button.button('Je réinitialise mon mot de passe', reset_link, 260)}}
    <br/>
    <p>Bien à vous,</p>
    <p>L'équipe Mobilic</p>
{% endblock %}
