{% extends "transactional_base.html" %}
{% import 'button.html' as button %}

{% block subject %}
{% if create_account %}Activez votre compte Mobilic{% else %}Confirmez l'adresse email de votre compte Mobilic{% endif %}
{% endblock %}

{% block body %}
    <p>Bonjour{% if first_name %} {{first_name | capitalize }}{% endif %},</p>
    {% if create_account %}
<p>Vous venez de créer un compte {% if company_name %}rattaché à l'entreprise <strong>{{company_name | upper}}</strong> {% endif %}sur <span style="font-weight: bold;">Mobilic</span>, la plateforme gouvernementale qui permet de simplifier <strong>l'enregistrement et le suivi du temps de travail</strong> des travailleurs mobiles du transport routier léger et du déménagement 🎉 !</p>
        <p>Pour finaliser votre inscription, veuillez cliquer sur le bouton d'activation suivant :</p>

        {{button.button('Activer mon compte', activation_link)}}

        {% if not company_name %}
            {% if is_employee %}
            <p>
                Vous êtes <strong>travailleur mobile</strong> ? Transmettez ensuite votre identifiant Mobilic (<strong>{{user_id}}</strong>) à la personne responsable de votre entreprise pour finaliser votre rattachement avant de commencer à saisir votre temps de travail.
            </p>
            {% endif %}
        {% else %}
            {% if has_admin_rights %}
                <p>
                    Une fois votre compte activé, vous aurez les droits d’administration sur l’entreprise <strong>{{company_name | upper}}</strong> et pourrez alors :
                </p>
                <ul>
                    <li>consulter le temps de travail des salariés</li>
                    <li>gérer les invitations des nouveaux salariés</li>
                    <li>gérer la flotte de véhicules</li>
                </ul>
            {% else %}
                <p>
                    Une fois le compte activé vous pourrez commencer à enregistrer votre temps de travail pour l’entreprise <strong>{{company_name | upper}}</strong>.
                </p>
                <p>
                    Vous pourrez également <strong>ne pas autoriser votre gestionnaire à avoir accès à votre adresse e-mail</strong>. Pour cela, il vous faudra cocher la case prévue à cet effet en vous rendant dans l’onglet “Mes informations” puis “Mon entreprise”.
                </p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>Pour confirmer votre changement d'adresse email veuillez cliquer sur le <a href={{activation_link}} target="_blank" rel="noopener noreferrer">lien suivant</a></p>
    {% endif %}
    <p>Bien à vous,</p>
    <p>L'équipe Mobilic</p>
{% endblock %}
