{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour Monsieur ou Madame {{ admin_last_name }},</p>
    <p>
        Utilisez-vous Mobilic au quotidien ? Si non, rencontrez-vous des difficultés à l'utiliser ?
    </p>
    <p>Le fait d’utiliser Mobilic quotidiennement est l’un des critères pour l’obtention du certificat Mobilic qui atteste de l'utilisation de l’outil de manière conforme (<a href="https://faq.mobilic.beta.gouv.fr/usages-et-fonctionnement-de-mobilic-gestionnaire/comment-obtenir-le-certificat-mobilic" target="_blank" rel="noopener noreferrer">Comment obtenir le certificat Mobilic ?</a>). Cela garantit aux entreprises certifiées une reconnaissance auprès des plateformes de mise en relation avec des particuliers ou des donneurs d’ordres.</p>
    <p>Toute l’équipe Mobilic se tient à disposition des entreprises pour <b>les accompagner dans l’appropriation de l’outil et l’obtention du certificat</b>.</p>
    <p>N’hésitez pas à nous écrire pour toute question sur le sujet.</p>
    <p>A bientôt sur Mobilic !</p>
{% endblock %}
