{% extends "transactional_base.html" %}

{% block body %}
<p>Bonjour {{ first_name }},</p>

<p>Conformément à l'article 4 de l'<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000051347969" target="_blank" rel="noopener">arrêté du 6 mars 2025</a>, aux exigences du RGPD et compte tenu de l'inactivité du compte de l'<strong>entreprise {{ company_name }}</strong>, ce dernier sera <strong>supprimé le {{ anonymization_date }}</strong>.</p>

<p>D'ici à cette date, il vous est <strong>encore possible d'annuler la suppression du compte</strong>. Pour cela, vous pouvez inviter un nouveau salarié ou demander à l'un de ceux déjà rattachés à votre entreprise de créer une nouvelle mission.</p>

<p>⚠️ La seule connexion au compte n'empêchera pas sa suppression. Il est donc <strong>nécessaire d'inviter un salarié ou de créer une mission</strong> !</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="center">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="{{ cancel_url }}" target="_blank" rel="noopener">J'annule la suppression du compte</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>Ne tardez pas car, sans action de votre part, le compte de l'entreprise {{ company_name }} sera supprimé ! Vous devrez en créer un autre pour utiliser à nouveau Mobilic.</p>

<p>Cordialement,</p>
{% endblock %}
