{% extends "transactional_base.html" %}

{% block subject %}
Suppression prochaine du compte d’un salarié
{% endblock %}

{% block body %}
    <p>Madame, Monsieur,</p>
    <p>Nous vous informons que votre salarié <b>{{employee_full_name }}</b> (identifiant Mobilic : <b>{{employee_id }}</b>) n’a pas accepté nos nouvelles conditions générales d’utilisation adressées le {{release_date | full_format_day}}.</p>
    <p>En cas d'erreur, <b>votre salarié peut modifier son choix</b> pendant 10 jours. Pour cela, il doit se connecter sur Mobilic et accepter les CGU.</p>
    <p>S’il ne le fait pas, son compte restera bloqué et sera supprimé. Il ne pourra plus saisir de temps de travail via Mobilic pour votre entreprise. Pour être en règle en cas de contrôle, il doit, dès maintenant, utiliser le livret individuel de contrôle (articles R3312-19 et R3312-58 du Code des transports).</p>
    <p>Si la période de 10 jours est déjà passée, votre salarié peut nous contacter à l’adresse suivante : <a href="mailto:assistance@mobilic.beta.gouv.fr">assistance@mobilic.beta.gouv.fr</a>. Nous pourrons ainsi réactiver son compte.</p>
    <p>Cordialement,</p>
{% endblock %}
