{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Vous avez créé un compte Mobilic et commencé à y rattacher vos salariés, nous vous en remercions !
    </p>
    <p>Dès maintenant, vous pouvez <b>commencer à utiliser Mobilic pour la saisie et le suivi du temps de travail</b>.</p>
    <p>En effet, cela vous permettra d’abandonner l’usage du livret individuel de contrôle tout en étant conforme à la réglementation en cas de contrôle !</p>
    <p>Il est possible que vos salariés aient besoin d’un temps de prise en main avant de commencer à utiliser Mobilic. Voici quelques conseils pour les y aider :</p>
    <ol>
        <li>Tout d’abord, commencez par <b>vérifier qu’ils ont bien téléchargé Mobilic</b> sur leur téléphone. Des tutoriels expliquant comment faire sont disponibles sur ce lien : https://mobilic.beta.gouv.fr/resources/driver.</li>
        <li>Ensuite, assurez-vous qu’ils aient bien compris comment l’outil fonctionne. <b>Une notice d’utilisation est également disponible sur le lien ci-dessus</b>.</li>
        <li>Enfin, pendant le premier mois d’utilisation, n’hésitez pas à <b>leur rappeler régulièrement de bien activer le suivi du temps de travail</b> en début de journée. Au bout de deux semaines, ils s’y habitueront et Mobilic fera partie de leur quotidien.</li>
    </ol>
    <p><b>Si vous même avez besoin d’aide pour prendre en main Mobilic</b>, vous pouvez :</p>
    <ul>
        <li><b>consulter la notice d’utilisation et les tutoriels disponibles</b> sur le lien suivant : https://mobilic.beta.gouv.fr/resources/admin</li>
        <li><b>vous inscrire à un webinaire</b> de formation : https://mobilic.beta.gouv.fr/#webinaires</li>
    </ul>
    <p>Cordialement,</p>
{% endblock %}