{% extends "transactional_base.html" %}

{% block subject %}
L'entreprise {{ company_name }} est créée sur Mobilic
{% endblock %}

{% block body %}
    <p>Bonjour{% if first_name %} {{first_name | capitalize}}{% endif %},</p>
    <p>L'entreprise <strong>{{company_name | upper}}</strong> associée au numéro SIREN <strong>{{company_siren}}</strong> a bien été créée sur Mobilic 🎉.</p>
    <p>Vous pouvez dès à présent gérer depuis <a href={{website_link}}>la plateforme Mobilic</a> : </p>
    <ul>
        <li>l’inscription des salariés de l’entreprise</li>
        <li>la flotte de véhicules</li>
    </ul>
    <p>Si vous avez des questions sur l’utilisation de l’outil, n’hésitez pas à nous contacter  et nous proposer plusieurs créneaux de disponibilité pour que <strong>nous prenions 15’ avec vous pour échanger par téléphone ou visio</strong>.</p>
    <p>2 moyens simples de nous contacter :</p>
    <ul>
        <li>par retour de mail ✉️: <a href="mailto:{{contact_email}}">{{contact_email}}</a></li>
        <li>par téléphone 📞 : <a href="tel:{{contact_phone}}">{{contact_phone}}</a></li>
    </ul>
    <p>Bien à vous,</p>
    <strong>L'équipe Mobilic</strong>
{% endblock %}
