{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Il y a un mois, vous avez inscrit votre entreprise sur Mobilic. Félicitations pour cette première étape dans la gestion simplifiée et réglementaire du temps de travail de vos salariés !
    </p>
    <p>Pour tirer pleinement parti de Mobilic, il ne vous reste qu'à inviter vos équipes à rejoindre votre entreprise sur l'application. Voici comment procéder&nbsp;:</p>
    <ol>
        <li><b>Connectez-vous à votre interface Mobilic</b>.</li>
        <li><b>Suivez les étapes indiquées dans notre tutoriel</b> pour inviter vos collaborateurs et configurer votre entreprise.</li>
    </ol>
    <p>photo</p>
    <p>Besoin d’aide pour démarrer&nbsp;?</p>
    <p>Nous restons à votre disposition pour toute question et pour vous assurer une prise en main rapide et efficace de Mobilic.</p>
    <p>Cordialement,</p>
{% endblock %}

