{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Vous avez obtenu le certificat Mobilic pour votre entreprise {{company_name}} le {{attribution_date | full_format_day}}, et ce pour une durée de 6 mois.
    </p>
    <p>Cependant, nous avons pu constater que, depuis cette date, vous n’aviez pas respecté certains critères indispensables à son obtention. Vous trouverez la liste de ces critères dans l'onglet "Certificat" de votre interface Mobilic.</p>
    <p>Ainsi, pour que nous puissions renouveler votre certificat à la fin de sa période de validité, veillez à y remédier dans les trois mois à venir.</p>
    <p>Vous trouverez sur ce lien le détail des critères à respecter : <a href="https://faq.mobilic.beta.gouv.fr/usages-et-fonctionnement-de-mobilic-gestionnaire/comment-obtenir-le-certificat-mobilic">Comment obtenir le certificat Mobilic ?</a></p>
    <p>N’hésitez pas à nous écrire pour toute question à ce sujet sur : <a href="mailto:contact@mobilic.beta.gouv.fr">contact@mobilic.beta.gouv.fr</a>.</p>
    <p>A bientôt sur Mobilic !</p>
{% endblock %}
