{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour{% if first_name %} {{first_name | capitalize }}{% endif %},</p>
    <p>Nous avons constaté que certains de vos salariés invités sur Mobilic n'ont pas encore finalisé leur inscription. </p>
    <p>Pour assurer une gestion optimale du temps de travail et simplifier vos obligations administratives, <b>encouragez-les</b> à activer leur compte dès maintenant !</p>
    <p><b>Renvoyez-leur une invitation&nbsp;:</b></p>
     <!-- use https://githubraw.com/ to generate url from repo asset file -->
   <p><img width="600" style="max-width:100%; height:auto;" src="https://cdn.githubraw.com/MTES-MCT/mobilic-api/7619276/app/static/images/invite_employees_v2_optimized.gif" alt="Invitez vos salariés"/></p>
    
    <p><b>Donnez-leur le lien de l'application&nbsp;:</b></p>
    <ul>
        <li><b>Android&nbsp;:</b> disponible sur le <a href="{{ google_play_link }}" target="_blank" rel="noopener">Google Play Store</a> ou via <a href="{{ android_install_link }}" target="_blank" rel="noopener">cette vidéo</a></li>
        <li><b>iPhone&nbsp;:</b> suivre <a href="{{ iphone_install_link }}" target="_blank" rel="noopener">ces étapes d'installation</a></li>
    </ul>
    <p>Une fois inscrits, vous gagnerez du temps sur la gestion de leur activité tout en restant conforme à vos obligations légales.</p>
    <p><b>Besoin d’aide ?</b> Notre équipe est disponible pour vous accompagner. Prenez rendez-vous avec notre équipe → <a href="{{ appointment_link }}" target="_blank" rel="noopener">Choisir un créneau</a>.</p>
    <p>À bientôt,</p>
{% endblock %}

