{% extends "transactional_base.html" %}

{% block subject %}
Demande de détachement de {{ employee_name }} du compte Mobilic de votre entreprise
{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>{{ employee_name }} <strong>souhaite détacher son compte Mobilic de celui de votre entreprise.</strong></p>
    <p>Si ce salarié ne travaille plus pour vous, <strong>détachez-le rapidement de votre entreprise en suivant la procédure suivante :</strong></p>
    <ul>
        <li>Rendez-vous dans l'<strong><a href="{{ employees_link }}">onglet "Salariés"</a> de votre interface</strong> ;</li>
        <li>Tout à droite de sa ligne correspondant à {{ employee_name }}, cliquez sur "Détacher" ;</li>
        <li>Le rattachement prendra fin le jour même à minuit.</li>
    </ul>
    <p>Il est important de détacher les salariés qui ne font plus partie de l'entreprise car cela peut <strong>fausser le calcul de votre certificat</strong> et <strong>entraîner des lourdeurs administratives en cas de contrôle.</strong></p>
    <p>S'il s'agit d'une erreur, nous vous invitons à vous adresser à votre salarié.</p>
    <p>Cordialement,</p>
{% endblock %}
