{% extends "transactional_base.html" %}

{% block subject %}
{{ company_name }} vous invite à rejoindre Mobilic
{% endblock %}

{% block body %}
    <p>Bonjour,</p>
    <p>Vous avez été invité(e) par l’entreprise <span style="font-weight: bold;">{{company_name}}</span> à créer un compte Mobilic pour enregistrer votre temps de travail.</p>
    <p>Mobilic est la plateforme gouvernementale permettant d’enregistrer et de suivre le temps de travail dans le transport.</p>
    <p>Pour créer votre compte cliquez sur le <a href={{invitation_link}} target="_blank">lien suivant</a>.</p>
    <p>Bien à vous,</p>
    <strong>L'équipe Mobilic</strong>
{% endblock %}
