{% extends "transactional_base.html" %}

{% block body %}
    <p>Madame, Monsieur,</p>
    <p>
        Nous vous écrivons car vous avez mis en place Mobilic dans votre entreprise, ce qui vous inscrit dans une démarche de respect de la réglementation du transport routier léger.
    </p>
    <p>A ce titre, et parce que le changement nécessite souvent une période d'adaptation, nous tenons à ce que vous sachiez que nous sommes à votre disposition pour vous accompagner dans la prise en main de l'outil et/ou accompagner vos salariés dans l'adoption de l'outil.</p>
    <p>Ecrivez-nous dès maintenant sur <a href="mailto:assistance@mobilic.beta.gouv.fr">assistance@mobilic.beta.gouv.fr</a> pour nous faire part de vos questions, vos suggestions ou vos points bloquants.</p>
    <p>A très vite sur Mobilic !</p>
{% endblock %}
