{% extends "transactional_base.html" %}

{% block body %}
    <p>Bonjour,</p>
    <p>
        Vous avez rejoint Mobilic le {{signup_date}}, inscrivant ainsi votre entreprise <strong>{{company_name | upper}}</strong> dans une démarche de respect de la réglementation du transport routier léger.
    </p>
    <p>Vous pouvez dès à présent commencer à faire enregistrer leurs temps de travail à vos salariés et exporter ces données pour votre gestion administrative. Ces données vous serviront également de justificatif en cas de contrôle en entreprise.</p>
    <p>Vous disposez de ces ressources pour vous aider dans la prise en main: <a href="https://mobilic.beta.gouv.fr/resources/home" target="_blank" rel="noopener noreferrer">Mobilic</a></p>
    <p>Nous sommes également disponibles sur <a href="mailto:mobilic@beta.gouv.fr">mobilic@beta.gouv.fr</a> pour vous accompagner dans la facilitation de l’intégration de Mobilic à vos outils quotidiens de gestion d'entreprise et pour toute demande de support.</p>
    <p>A très vite sur Mobilic!</p>
{% endblock %}
